/* Profile */
.profile {

}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
      width: 40%;
    }

  }
}
