<div class="rounded-social-buttons">


{%- if site.linkedin -%}
<a title="{{ _locale_string_follow | replace: 'Haris Mughees', 'LinkedIn' }}"
class="social-button linkedin"
href="https://www.linkedin.com/in/haris-mughees" itemprop="sameAs"
target="_blank">
<i class="fab fa-linkedin"></i>
</a>
{%- endif -%}

{%- if site.github -%}
<a title="{{ _locale_string_follow | replace: 'Haris Mughees', 'GitHub' }}"
class="social-button github"
href="https://github.com/mhmughees" itemprop="sameAs"
target="_blank">
<i class="fab fa-github"></i>
</a>
{%- endif -%}


{%- if site.twitter -%}
<a title="{{ _locale_string_follow | replace: 'Haris Mughees', 'Twitter' }}"
class="social-button twitter"
href="https://www.twitter.com/mhmughees13" itemprop="sameAs"
target="_blank">
<i class="fab fa-twitter"></i>
</a>
{%- endif -%}


</div>
